* {
  color: white;
}

.render {
  max-width: 50%;
  display: flex;
}

.infotab {
  max-width: 50%;
  display: flex;
}

body {
  display: flex;
  max-height: 100%;
  overflow-y: hidden;
  background-color: black;
}

#propales {
  display: flex;
}

#propales div {
  border: solid 1px;
  padding: 20px;
  user-select: none;
  cursor: pointer;
}

#propales .selected {
  border-color: red;
}
