* {
  color: white;
}

.render {
  max-width: 50%;
  display: flex;
}

.infotab {
  max-width: 50%;
  display: flex;
}

body {
  display: flex;
  max-height: 100%;
  overflow-y: hidden;
  background-color: black;
}

#propales {
  display: flex;
}

#propales div {
  border: solid 1px;
  padding: 20px;
  user-select: none;
  cursor: pointer;
}

#propales .selected {
  border-color: red;
  background-color: rgba(255, 0, 0, 0.329);
}

button {
  border: solid 2px;
  border-color: white;
  background: none;
  padding: 10px 20px;
  cursor: pointer;
}

#game {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

#infos {
  display: flex;
  gap: 20px;
}

#event {
  border: solid 1px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#skip-event {
  text-decoration: underline;
  cursor: pointer;
}

#skip-event:hover {
  color: rgb(10, 255, 10);
}
